/* CUSTOM PROPERTIES */

:root{
    --main-bg-color: rgb(243, 245, 246);
    --main-alpha-color: rgb(10, 56, 113);
    --main-bg-btn-color: #D8DFE8;
    --title-color: #3A3871;
    --textarea-bg-color: rgba(243, 245, 246, .9);
    --borders-colors: rgba(10, 56, 113, .5);
    --logo-blue-color: #0A3871;
}

/* RESET */

html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(243, 245, 246);
}

header img{
    margin: 24px;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: 0.85rem;
}

h6{
    margin: 0;
    font-size: 0.7rem;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
}


.icon-color{
    color: rgba(201, 201, 201);
}


/* UTILITIES */

.container{
    display: flex;
    flex-direction: row;
    width: 1440px;
}



/* CUSTOMS PAGE STYLES */

/* LOGO CONTAINER STYLES */

.logo{
    position: relative;
    margin-left: 84px;
    margin-top: 40px;
}

/* FORM CONTAINER STYLES */

.form{
    width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
}

.form .title{
    margin: 50px 20px 50px 20px;
    color: var(--title-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 3rem;
    line-height: 10px;
}

/* ENTRY CONTAINER STYLES */

.entry{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 300px;
    margin: 0 0 0 25%;
}

.entry label{
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.entry textarea{
    max-width: 75%;
    height: auto;
    resize: none;
}

/* CAVEAT CONTAINER STYLES */

.caveat{
    max-width: 100%;
    margin: 0 0 0 25%;
}

.caveat i{
    display: flex;
    flex-direction: row;
    margin: 5px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #495057;
}

.caveat i img{
    max-width: 16px;
    height: 16px;
}

/* BTNS CONTAINER STYLES */

.btns{
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 0 0 0 25%;
}

.btns > input{
    width: 270px;
    padding: 20px 0 20px 0;
    border: 2px groove var(--logo-blue-color);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center
}

.btns > input:first-child{
    background: var(--logo-blue-color);
}

/* SAMPLE CONTAINER STYLES */

.sample{
    width: 300px;
    height: auto;
    background-color: #FFFFFF;
    border: 2px groove var(--borders-colors);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px;

}

.sample img{
    margin: 15% 15% 15% 15%;
    max-width: 75%;
    height: auto;
    border-radius: 32px;
}

.sample h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
}

.sample p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* MEDIAS QUERY */

@media screen and (max-width: 768px){
    .hide{
        display: none;
    }

    .container{
       width: 768px;
       display: flex;
       flex-direction: column; 
    }

    /* FORM CONTAINER STYLES */

    .form{
        margin-bottom: 20px;
    }

    .form .title{
        font-size: 2rem;
    }

    /* ENTRY CONTAINER STYLES */

    .entry{
        max-width: 100%;
        height: auto;
        margin-left: 15px;
    }

    .entry label{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
    
    /* CAVEAT CONTAINER STYLES */
    
    .caveat{
        max-width: 100%;
        margin-left: 15px;
    }
    
    /* BTNS CONTAINER STYLES */
    
    .btns{
        display: flex;
        justify-content: space-around;
        margin-left: 10%;
    }

    
    .btns > input:first-child{
        background: var(--logo-blue-color);
    }
    
    /* SAMPLE CONTAINER STYLES */
    
    .sample{
        width: 768px;
        height: auto;
        background-color: #FFFFFF;
        border: 2px groove var(--borders-colors);
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px;
        margin-left: 5%;
    }
}

@media screen and (max-width:375px){

    .container{
        width: 375px;
        display: flex;
        flex-direction: column; 
     }

     .logo{
        margin-left: 30px;
        margin-top: 16px;
    }
 
     /* FORM CONTAINER STYLES */
 
     .form{
        width: 375px;
        margin-bottom: 20px;
        margin-top: -20px;
        margin-left: 35px;
     }
 
     .form .title{
        text-align: center;
        font-size: 1.2rem;
        line-height: 1rem;
        margin-bottom: 15px;
     }
 
     /* ENTRY CONTAINER STYLES */
 
     .entry{
         max-width: 100%;
         height: auto;
     }
 
     .entry label{
         font-family: Arial, Helvetica, sans-serif;
         font-weight: 100;
         font-size: .75rem;
     }
     
     /* CAVEAT CONTAINER STYLES */
     
     .caveat{
         max-width: 100%;
         margin-left: 15px;
     }

     .caveat i{
        font-size: 12px;
     }

     .caveat i img{
        max-width: 10px;
        height: 10px;
        margin: 3px;
     }
     
     /* BTNS CONTAINER STYLES */
     
     .btns{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .entry{
        height: 300px;
        margin-bottom: 20px;
        display: block;
        margin: auto;
    }

    textarea{
        max-width: 100%;
        resize: none;
        border-color: 2px groove rgb(10, 56, 113);
        border-radius: 32px;
        text-align: center;
    }

    .btn-container input{
        width: 100%;
    }

    .sample{
        display: block;
        margin: auto;
        height: auto;
    }

    .doll-container img{
        display: none;
    }

>>>>>>> 0dad07607432eaa8ef6c457d06cfe563cbde3ac9
}